<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2544f17b-a2c7-4c20-8619-c9377edd1903" name="Event Engine API Calls V2.5x" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b8fa3360-5cab-46a9-b299-123d0776f111fileName">Copy-of-Event-Engine-API-Calls-V2.5</con:setting><con:setting id="2544f17b-a2c7-4c20-8619-c9377edd1903fileName">Event-Engine-API-Calls-V2.5x</con:setting><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="0cc57d55-fe2d-4aed-9711-a070dae089cb"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>